<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="FlareGDEFrame">
		<title>FlareGDE</title>
		<id_arg>0</id_arg>
		<object class="wxGridSizer" variable="GridSizerGlobal" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="PanelItems" member="yes">
					<enabled>0</enabled>
					<hidden>1</hidden>
					<object class="wxGridSizer" variable="GridSizer1" member="no">
						<cols>6</cols>
						<rows>2</rows>
						<object class="sizeritem">
							<object class="wxListBox" name="ID_LISTBOX1" variable="ListBoxItems" member="yes">
								<default>-1</default>
								<handler function="OnListBoxItemsSelect" entry="EVT_LISTBOX" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer3" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticTextItemName" member="yes">
										<label>Item Name</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticTextItemType" member="yes">
										<label>Item Type</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticTextItemLevel" member="yes">
										<label>Item Level</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticTextItemQuality" member="yes">
										<label>Item Quality</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticTextItemMelDmg" member="yes">
										<label>Melee Damage</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticTextItemRanDmg" member="yes">
										<label>Ranged Damage</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticTextItemMentDmg" member="yes">
										<label>Mental Damage</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer2" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrlItemName" member="yes">
										<value>ItemName</value>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxComboBox" name="ID_COMBOBOX1" variable="ComboBoxItemType" member="yes">
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrlItemLevel" member="yes">
										<value>0</value>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxComboBox" name="ID_COMBOBOX3" variable="ComboBoxItemQuality" member="yes">
										<content>
											<item>low</item>
											<item>high</item>
											<item>epic</item>
										</content>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer12" member="no">
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL10" variable="SpinCtrlItemMelDmgMin" member="yes">
												<value>0</value>
												<max>500</max>
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL9" variable="SpinCtrlItemMelDmgMax" member="yes">
												<value>0</value>
												<max>500</max>
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer14" member="no">
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL11" variable="SpinCtrlItemRanDmgMin" member="yes">
												<value>0</value>
												<max>500</max>
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL12" variable="SpinCtrlItemRanDmgMax" member="yes">
												<value>0</value>
												<max>500</max>
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer15" member="no">
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL13" variable="SpinCtrlItemMentDmgMin" member="yes">
												<value>0</value>
												<max>500</max>
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL14" variable="SpinCtrlItemMentDmgMax" member="yes">
												<value>0</value>
												<max>500</max>
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer4" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticTextItemIcon" member="yes">
										<label>Item Icon</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmapItemIcon" member="yes">
										<style>wxSUNKEN_BORDER</style>
									</object>
									<flag>wxALL|wxSHAPED|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON4" variable="ButtonItemIcon" member="yes">
										<label>Assign Icon</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer5" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticTextItemAbs" member="yes">
										<label>Absorbtion</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticTextItemSfx" member="yes">
										<label>ItemSFX</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticTextItemGfx" member="yes">
										<label>ItemGFX</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticTextItemPower" member="yes">
										<label>Attached Power</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticTextItemPowerDesc" member="yes">
										<label>Power Description</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticTextItemPowerMod" member="yes">
										<label>Power Modificator</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer1" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer6" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer16" member="no">
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL15" variable="SpinCtrlItemAbsMin" member="yes">
												<value>0</value>
												<max>500</max>
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL16" variable="SpinCtrlItemAbsMax" member="yes">
												<value>0</value>
												<max>500</max>
												<size>50,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxComboBox" name="ID_COMBOBOX5" variable="ComboBoxItemSfx" member="yes">
										<content>
											<item>book</item>
											<item>cloth</item>
											<item>coins</item>
											<item>gem</item>
											<item>leather</item>
											<item>metal</item>
											<item>page</item>
											<item>maille</item>
											<item>object</item>
											<item>heavy</item>
											<item>wood</item>
											<item>potion</item>
										</content>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON5" variable="ButtonitemGfx" member="yes">
										<label>Assign GFX</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrlItemPower" member="yes">
										<value>0</value>
										<max>500</max>
										<size>110,-1</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL12" variable="TextCtrlItemPowerDesc" member="yes">
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL18" variable="SpinCtrlItemPowerMod" member="yes">
										<value>0</value>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer5" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer9" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticTextItemRequires" member="yes">
										<label>Item requires</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticTextitemBonus" member="yes">
										<label>Bonus</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticTextItemPrice" member="yes">
										<label>Price</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticTextItemPriceSell" member="yes">
										<label>Sell Price</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticTextItemQuan" member="yes">
										<label>Max Quantity</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT20" variable="StaticTextItemPickup" member="yes">
										<label>Pickup Status</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer13" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer10" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxComboBox" name="ID_COMBOBOX4" variable="ComboBoxitemRequires" member="yes">
										<content>
											<item>Physical</item>
											<item>Mental</item>
											<item>Offense</item>
											<item>Defense</item>
										</content>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="TextCtrlitemBonus" member="yes">
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL5" variable="SpinCtrlItemPrice" member="yes">
										<value>0</value>
										<max>20000</max>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL6" variable="SpinCtrlItemSell" member="yes">
										<value>0</value>
										<max>20000</max>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL7" variable="SpinCtrlItemMaxQuan" member="yes">
										<value>0</value>
										<max>500</max>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL14" variable="TextCtrlItemPickup" member="yes">
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer8" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer7" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL8" variable="SpinCtrlItemRequires" member="yes">
										<value>0</value>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL17" variable="SpinCtrlItemBonus" member="yes">
										<value>0</value>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer2" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer6" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer4" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer3" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer7" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer8" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT21" variable="StaticTextLootAnim" member="yes">
										<label>Loot Animation</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT22" variable="StaticTextItemClass" member="yes">
										<label>Class</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT23" variable="StaticTextItemStep" member="yes">
										<label>StepFX</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT24" variable="StaticTextItemRan_loot" member="yes">
										<label>Max Amount in Loot Stack</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT25" variable="StaticTextItemRan_ven" member="yes">
										<label>Max Amount in Vendor Stack</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer9" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON1" variable="ButtonItemPush" member="yes">
										<label>Push</label>
										<handler function="OnButtonItemPushClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer11" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON7" variable="ButtonItemLootAnim" member="yes">
										<label>Assign Animation</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL15" variable="TextCtrlItemClass" member="yes">
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON6" variable="ButtonItemStepFX" member="yes">
										<label>Assign StepFX</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="SpinCtrlItemRan_loot" member="yes">
										<value>0</value>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="ID_SPINCTRL4" variable="SpinCtrlItemRan_ven" member="yes">
										<value>0</value>
										<size>110,21</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer11" member="no" />
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="ButtonItemClear" member="yes">
										<label>Clear</label>
										<handler function="OnButtonItemClearClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxGridSizer" variable="GridSizer12" member="no">
								<cols>1</cols>
								<rows>7</rows>
								<vgap>5</vgap>
								<hgap>5</hgap>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="StaticBitmap1" member="yes">
										<style>wxSUNKEN_BORDER</style>
									</object>
									<flag>wxALL|wxSHAPED|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxGridSizer" variable="GridSizer13" member="no">
										<cols>1</cols>
										<rows>3</rows>
										<vgap>5</vgap>
										<hgap>5</hgap>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer10" member="no" />
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON8" variable="ButtonItemAdd" member="yes">
												<label>Add empty item</label>
												<handler function="OnButtonItemAddClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON3" variable="ButtonItemCLose" member="yes">
												<label>Close</label>
												<handler function="OnButtonItemCLoseClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
			</object>
		</object>
		<object class="wxMenuBar" variable="MainMenuBar" member="no">
			<object class="wxMenu" variable="MenuFile" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuNew" variable="MenuItemCreate" member="yes">
					<label>New Mod</label>
					<accel>Alt-N</accel>
					<help>Create new mod</help>
					<handler function="OnMenuItemCreateSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuOpen" variable="MenuItemOpen" member="yes">
					<label>Open Mod</label>
					<accel>Alt-O</accel>
					<help>Open existing mod</help>
					<handler function="OnMenuItemOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSave" variable="MenuItemSaveMod" member="yes">
					<label>Save Mod</label>
					<accel>F2</accel>
					<help>Save opened mod</help>
					<handler function="OnMenuItemSaveModSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuClose" variable="MenuItemCloseMod" member="yes">
					<label>Close Mod</label>
					<accel>Alt-X</accel>
					<help>Close opened Mod</help>
					<handler function="OnMenuItemCloseModSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItemQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuCreatures" member="no">
				<label>&amp;Creatures</label>
				<object class="wxMenuItem" name="idMenuNPC" variable="MenuItemNPC" member="yes">
					<label>Add NPC</label>
					<help>Add new NPC</help>
					<enabled>0</enabled>
					<handler function="OnMenuItemNPCSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuEnemy" variable="MenuItemEnemy" member="yes">
					<label>Add Enemy</label>
					<help>Add new Enemy</help>
					<enabled>0</enabled>
					<handler function="OnMenuItemEnemySelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuMenus" member="no">
				<label>&amp;Menus</label>
				<object class="wxMenu" name="ID_MENUITEM1" variable="MenuItemInGame" member="yes">
					<label>&amp;InGame</label>
					<object class="wxMenuItem" name="idMenuInventory" variable="MenuItemInventory" member="yes">
						<label>Inventory</label>
						<help>Edit Inventory Menu Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemInventorySelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuCharacter" variable="MenuItemCharacter" member="yes">
						<label>Character</label>
						<help>Edit Character Menu Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemCharacterSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuPowers" variable="MenuItemPowersMenu" member="yes">
						<label>Powers</label>
						<help>Edit Powers Menu Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemPowersMenuSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuLog" variable="MenuItemLog" member="yes">
						<label>Log</label>
						<help>Edit Log Menu Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemLogSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuXPBar" variable="MenuItemXPBar" member="yes">
						<label>XP Bar</label>
						<help>Edit XP Bar Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemXPBarSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuManaBar" variable="MenuItemManaBar" member="yes">
						<label>Mana Bar</label>
						<help>Edit Mana Bar Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemManaBarSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuHPBar" variable="MenuItemHPBar" member="yes">
						<label>HP Bar</label>
						<help>Edit HP Bar Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemHPBarSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuEnemyBar" variable="MenuItemEnemyBar" member="yes">
						<label>Enemy Bar</label>
						<help>Edit Enemy Bar Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemEnemyBarSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuMiniMap" variable="MenuItemMiniMap" member="yes">
						<label>MiniMap</label>
						<help>Edit MiniMap Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemMiniMapSelected" entry="EVT_MENU" />
					</object>
				</object>
				<object class="wxMenu" name="ID_MENUITEM2" variable="MenuItemInterface" member="yes">
					<label>&amp;Interface Menus</label>
					<object class="wxMenuItem" name="idMenuLoadGame" variable="MenuItemLoadGame" member="yes">
						<label>Load Game</label>
						<help>Edit Load Game Menu Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemLoadGameSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuNewGame" variable="MenuItemNewGame" member="yes">
						<label>New Game</label>
						<help>Edit New Game Menu Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemNewGameSelected" entry="EVT_MENU" />
					</object>
					<object class="wxMenuItem" name="idMenuSettings" variable="MenuItemSettings" member="yes">
						<label>Settings Menu</label>
						<help>Edit Settings Menu Layout</help>
						<enabled>0</enabled>
						<handler function="OnMenuItemSettingsSelected" entry="EVT_MENU" />
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="MenuStuff" member="no">
				<label>&amp;Stuff</label>
				<object class="wxMenuItem" name="idMenuAddPower" variable="MenuItemPower" member="yes">
					<label>Add Power</label>
					<help>Add new Power</help>
					<enabled>0</enabled>
					<handler function="OnMenuItemPowerSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuAddItem" variable="MenuItemItem" member="yes">
					<label>Add item</label>
					<help>Add new Item</help>
					<enabled>0</enabled>
					<handler function="OnMenuItemItemSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuMaps" member="no">
				<label>&amp;Maps</label>
				<object class="wxMenuItem" name="idMenuAddMap" variable="MenuItemAddMap" member="yes">
					<label>Create map</label>
					<help>Create new map in Tiled</help>
					<handler function="OnMenuItemAddMapSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuOpenMap" variable="MenuItemOpenMap" member="yes">
					<label>Open map</label>
					<help>Open existing map in Tiled</help>
					<handler function="OnMenuItemOpenMapSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuStory" member="no">
				<label>&amp;Story</label>
				<object class="wxMenuItem" name="idMenuQuest" variable="MenuItemQuest" member="yes">
					<label>Add Quest</label>
					<help>Add new Quest</help>
					<enabled>0</enabled>
					<handler function="OnMenuItemQuestSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuHelp" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItemAbout" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxDirDialog" variable="ModDirDialog" member="yes">
			<message>Select directory for mod creation</message>
		</object>
	</object>
</wxsmith>
